<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title >
      App de reparto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>Selecciona una opcion</ion-title>
  <ion-item>
    <ion-button shape="round"  (click)="abrirPaquetes()">OPCIONES PARA PAQUETES</ion-button> 
  </ion-item>
  <ion-item>
    <ion-button shape="round" (click)="abrirRepartidor()" shape="round">OPCINES PARA REPARTIDOR</ion-button> 
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Aplicacion de paquetes</ion-title>
  </ion-toolbar>
</ion-footer>


